<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Modelo" connectionString="data source=ALGE-PF27D6ZT\ALEBONANSEA;initial catalog=CarnetsFCV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>