body {
    background-color: #020202;
    background-image: url('../imagenes/pelota.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-attachment: fixed;
    background-size: 30% 50%;
}

/*img {
    
}*/

.imgLogo {
    margin: auto;
    Margin-top: 30px;
    height: 60%;
}

.bienvenidos {
    color: #e44f1e;
    background-color: #020202;
    margin-top: 0px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 70px;
}

.fondoIngreso {
    background-color: #020202;
}

.formH1 {
    background-color: #e44f1e;
}

.formulario {
    float: left;
    background: #cccccc;
    border-radius: 5px;
    position: absolute;
    margin-top: 6%;
    margin-left: 25%;
    width: 350px;
}

    .formulario h1 {
        text-align: left;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #4e4d4d;
        font: bold 25px arial, verdana;
    }

    .formulario label {
        padding: 0 30px;
        box-sizing: border-box;
        font: 17px arial, verdana;
    }

.input {
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 30px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font: 17px arial, verdana;
    height: 28px;
    width: 220px;
}

.divImagen {
    float: left;
    width: 350px;
}

.menu {
    align-content: center;
    justify-content: center;
    display: flex;
}

.tabla {
    border: none;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}

    .tabla tr {
        border: none;
        margin-right: 10px;
        text-align: center;
    }

    .tabla td {
        border: none;
        text-align: center;
        margin-left: 50px;
    }

.divGrilla {
    text-align: center;
    margin-top: 2%;
    height: auto;
    max-height: 500px;
    margin-right: 5%;
    margin-left: 5%;
}
    .divGrilla::-webkit-scrollbar-track {
        background: white;
        border: solid 1px #D33500;
    }
    .divGrilla::-webkit-scrollbar{
        width:15px;
    }

    .divGrilla::-webkit-scrollbar-thumb {
        background: #ffa560;
        border-radius: 10px;
    }


.grilla {
    margin: auto;
    background-color: white;
    border: solid #D33500;
    border-width: 3px;
    height: 100%;
    width: 100%;
}

.buscador {
    border: 3.5px solid #e44f1e;
    border-radius: 30px;
    margin-left: 5%;
    padding-top: 6px;
    font: 18px arial, verdana;
    height:40px;
    padding-inline-start:10px;
}

    .buscador:hover {
        border-color: #fd875c;
    }

.Background {
    background-color: Black;
    filter: sepia(opacity=90);
    opacity: 0.8;
}

.Popup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 400px;
    height: 350px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

/*Botones*/

.btnIngresar {
    margin: 10px 30px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #e44f1e;
    color: white;
    font: bold 18px arial, verdana;
    border-radius: 5px;
    cursor: pointer;
}
    .btnIngresar:active {
        background-color: #fd875c;
    }

.btnCRUD {
    padding: 6px 10px 10px 12px;
    font: bold 16px arial, verdana;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    bottom: 0%;
    background-color: #d8d8d8;
    border: 3.5px solid #e44f1e;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .btnCRUD:hover {
        background-color: #fd875c;
        border-color: #e44f1e;
        color: white;
    }

    .btnCRUD:active {
        background-color: #e44f1e;
        border-color: white;
    }

.btnInicio {
    margin: 10px 10px 15px;
    padding: 5px 5px 5px 5px;
    font: bold 14px arial, verdana;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    bottom: 0%;
    background-color: #fd875c;
    border: 3.5px solid #e44f1e;
    cursor: pointer;
    height: 40px;
    width: 60px;
}

    .btnInicio:hover {
        background-color: #e44f1e;
        border-color: #d8d8d8;
        color: white;
    }

    .btnInicio:active {
        background-color: #d8d8d8;
        border-color: #e44f1e;
    }

.btnBuscar {
    margin-left: 2%;
    margin-right: 8%;
    background-color: #e44f1e;
    border-radius: 15px;
    height: 32px;
    width: 32px;
    padding: 3px 3px 3px 5px;
}

    .btnBuscar:hover {
        background-color: #fd875c;
        border-color: #d8d8d8;
    }

    .btnBuscar:active {
        background-color: #B32821;
    }


.btnMenu {
    background-color: #d8d8d8;
    border: 3.5px solid #e44f1e;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font: bold 26px arial, verdana;
    height: 70px;
    width: 350px;
    margin: 10px 10px 10px 10px;
}

    .btnMenu:hover {
        background-color: #e4701e;
        border-color: #d8d8d8;
    }

    .btnMenu:active {
        background-color: #e44f1e;
        border-color: #c9c9c9;
    }

.btnCerrar {
    margin: 10px 30px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #e44f1e;
    color: white;
    font: bold 20px arial, verdana;
    border-radius: 5px;
    cursor: pointer;
}

    .btnCerrar:hover {
        background-color: #fd875c;
        border-color: #d8d8d8;
    }


    .btnCerrar:active {
        background-color: #e44f1e;
        color: black;
    }

.btnGuardar {
    margin: 10px 30px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #e44f1e;
    color: white;
    font: bold 15px arial, verdana;
    border-radius: 3px;
    cursor: pointer;
    text-align: right;
    bottom: 0%;
}

    .btnGuardar:hover {
        background-color: #fd875c;
        border-color: #d8d8d8;
    }


    .btnGuardar:active {
        background-color: #3D642D;
    }

.btnCancelar {
    margin: 10px 30px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #e44f1e;
    color: white;
    font: bold 15px arial, verdana;
    border-radius: 3px;
    cursor: pointer;
    text-align: right;
    bottom: 0%;
}

    .btnCancelar:hover {
        background-color: #fd875c;
        border-color: #d8d8d8;
    }


    .btnCancelar:active {
        background-color: #B32821;
    }

/*MediasQueries*/

@media screen and (max-width:640px) {
    .bienvenidos {
        font-size: 50px;
    }

    .formulario {
        float: left;
        background: #cccccc;
        border-radius: 5px;
        position: absolute;
        margin-top: 15%;
        margin-left: 15%;
        width: 280px;
    }

        .formulario h1 {
            text-align: left;
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #4e4d4d;
            font: bold 20px arial, verdana;
        }

        .formulario label {
            padding: 0 30px;
            box-sizing: border-box;
            font: 15px arial, verdana;
        }

        .formulario input{
            margin-left:35px;
            font:30px;
        }
    .imgLogo {
        margin: auto;
        Margin-top: 30px;
        height: 40%;
    }
    .btnMenu {
        background-color: #d8d8d8;
        border: 3.5px solid #e44f1e;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        font: bold 20px arial, verdana;
        height: 60px;
        width: 300px;
        margin: 10px 10px 10px 10px;
    }
    .grilla {
        margin: auto;
        background-color: white;
        border: solid #D33500;
        border-width: 3px;
        height: 100%;
        width: 100%;
        font-size:14px;
    }
    .btnCRUD {
        padding: 6px 10px 10px 12px;
        font: bold 14px arial, verdana;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        bottom: 0%;
        background-color: #d8d8d8;
        border: 3.5px solid #e44f1e;
        cursor: pointer;
        height: 35px;
        width: 90px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .btnInicio {
        margin: 10px 10px 15px;
        padding: 5px 5px 5px 5px;
        font: bold 12px arial, verdana;
        border-radius: 25px;
        cursor: pointer;
        text-align: center;
        bottom: 0%;
        background-color: #fd875c;
        border: 3.5px solid #e44f1e;
        cursor: pointer;
        height: 35px;
        width: 55px;
    }

    .btnBuscar {
        margin-left: 2%;
        margin-right: 8%;
        background-color: #e44f1e;
        border-radius: 15px;
        height: 27px;
        width: 27px;
        padding: 3px 3px 3px 5px;
    }

    .buscador {
        border: 3.5px solid #e44f1e;
        border-radius: 30px;
        margin-left: 5%;
        padding-top: 6px;
        font: 16px arial, verdana;
        height: 35px;
        padding-inline-start: 10px;
    }
    .btnIngresar {
        margin: 10px 30px 15px;
        padding: 5px 5px 5px 5px;
        background-color: #e44f1e;
        color: white;
        font: bold 16px arial, verdana;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width:310px) {
    .bienvenidos {
        font-size: 40px;
    }
    .formulario {
        float: left;
        background: #cccccc;
        border-radius: 5px;
        position: absolute;
        margin-top: 15%;
        margin-left: 10%;
        width: 260px;
    }

        .formulario h1 {
            text-align: left;
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #4e4d4d;
            font: bold 20px arial, verdana;
        }

        .formulario label {
            padding: 0 30px;
            box-sizing: border-box;
            font: 15px arial, verdana;
        }

        .formulario input {
            margin-left: 35px;
            font: 30px;
        }

    .imgLogo {
        Margin-top: 20px;
        height: 30%;
    }
    .btnMenu {
        background-color: #d8d8d8;
        border: 3.5px solid #e44f1e;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        font: bold 18px arial, verdana;
        height: 50px;
        width: 280px;
    }
    .btnCerrar {
        margin: 0px 10px 15px;
        background-color: #e44f1e;
        color: white;
        font: bold 18px arial, verdana;
        border-radius: 5px;
        cursor: pointer;
        text-align: right;
        bottom: 2%;
    }
    .grilla {
        margin: auto;
        background-color: white;
        border: solid #D33500;
        border-width: 3px;
        height: 100%;
        width: 100%;
        font-size: 10px;
    }
    .btnCRUD {
        padding: 6px 10px 10px 12px;
        font: bold 12px arial, verdana;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        bottom: 0%;
        background-color: #d8d8d8;
        border: 3.5px solid #e44f1e;
        cursor: pointer;
        height: 30px;
        width: 80px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .btnInicio {
        margin: 10px 10px 15px;
        padding: 5px 5px 5px 5px;
        font: bold 10px arial, verdana;
        border-radius: 25px;
        cursor: pointer;
        text-align: center;
        bottom: 0%;
        background-color: #fd875c;
        border: 3.5px solid #e44f1e;
        cursor: pointer;
        height: 30px;
        width: 50px;
    }
    .btnBuscar {
        margin-left: 2%;
        margin-right: 8%;
        background-color: #e44f1e;
        border-radius: 15px;
        height: 25px;
        width: 25px;
        padding: 3px 3px 3px 5px;
    }
    .buscador {
        border: 3.5px solid #e44f1e;
        border-radius: 30px;
        margin-left: 5%;
        padding-top: 6px;
        font: 14px arial, verdana;
        height: 30px;
        padding-inline-start: 10px;
    }
    .btnIngresar {
        margin: 10px 30px 15px;
        padding: 5px 5px 5px 5px;
        background-color: #e44f1e;
        color: white;
        font: bold 14px arial, verdana;
        border-radius: 5px;
        cursor: pointer;
    }
}